[Unit]
Description=Whiteboard Websocket daemon
After=mysqld.service httpd.service nss-lookup.target network-online.target
Requisite=mysqld.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/python3 /srv/cgi-bin/whiteboard-ws.py

[Install]
WantedBy=multi-user.target

