/**
 * BASIC STYLE
 */

body {
	font-family: Ubuntu, sans-serif;
	text-align: center;
	margin: 0 !important;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
	color: lightgrey;
}

/**
 * WHITEBOARD
 */

:root {
	--button-size: 56px;
	--drawing-colour: #148;
	--drawing-size: 3px;

	/* default colours */
	--hover-border-colour: #64beed;

	--negative-fg-colour: #da4453;
	--loading-fg-colour: #3daee9;
	--positive-fg-colour: #27ae60;
}

/* THEMES */
body[theme=light] {
	--bg-colour: #f3f4f4;
	--fg-colour: #373737;
	--border-colour: #bcbebf;
	--active-bg-colour: #c9cbcb;
	--hover-active-fg-colour: #373737;
	--hover-active-bg-colour: #93cee9;
	--disabled-bg-colour: #d9dadb;
	--disabled-fg-colour: #7f8081;
}

body[theme=dark] {
	--bg-colour: #2d3136;
	--fg-colour: #c8c8c8;
	--border-colour: #616569;
	--active-bg-colour: #54575b;
	--hover-active-fg-colour: #424345;
	--hover-active-bg-colour: #3daee9;
	--disabled-bg-colour: #2b2f33;
	--disabled-fg-colour: #565b60;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto 1fr auto;
}

div.toolbar {
	display: grid;

	grid-template-rows: repeat(auto-fit, minmax(min-content, 0));
	grid-template-columns: 1fr;
	
	row-gap: 6px;
	padding: 6px;
	
	overflow-y: scroll;
	scrollbar-width: none;

	color: var(--fg-colour);
	background-color: var(--bg-colour);
	border-right: 1px solid var(--border-colour);
}
.toolbar::-webkit-scrollbar {
    display: none;
}
.toolbar hr {
	margin: 0 -6px;
	grid-column: 1;
	border: none;
	border-top: 1px solid var(--border-colour);
}

button {
	width: var(--button-size);
	min-height: max-content;

	cursor: pointer;

	border: none;
	border-radius: 4px;
}
.toolbar button {
	text-align: center;
	vertical-align: middle;
	
	grid-column: 1;
	padding: 0;

	color: var(--fg-colour);
	background-color: var(--bg-colour);
	background-clip: border-box;
	
	border: 1px solid transparent;
}
.toolbar button::-moz-focus-inner {
	border: 0;
}
.toolbar button i {
	margin-top: 4px;

	font-size: 33px;
}
.toolbar button p {
	margin: 4px;
	margin-top: 2px;

	font-weight: 500;
}
.toolbar button[disabled],
.toolbar button[disabled]:hover {
	cursor: unset;

	color: var(--disabled-fg-colour);
	background-color: var(--disabled-bg-colour);
	border-color: transparent;
}
.toolbar button:hover,
.toolbar button:focus,
.toolbar button:active {
	border-color: var(--hover-border-colour);
}
.toolbar button[active] {
	background-color: var(--active-bg-colour);
}
.toolbar button[active]:hover {
	color: var(--hover-active-fg-colour);
	background-color: var(--hover-active-bg-colour);
}
button[wip] i {
	background: repeating-linear-gradient(-35deg, orange 0px 3px, #333 3px 6px);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.toolbar button .filler {
	min-height: calc(var(--button-size) * 0.7);
	margin-bottom: -8px;
}

.toolbar button#size div {
	background: radial-gradient(circle, var(--fg-colour) calc(var(--drawing-size) / 2),
										var(--bg-colour) calc(var(--drawing-size) / 2 + 1px));
}

.toolbar button#colour {
	color: #fff;
	background-color: var(--drawing-colour);
}
.toolbar button#colour[bright] {
	color: #000;
}

.toolbar button#clear:hover i {
	color: var(--negative-fg-colour);
}

.toolbar button#theme {
	height: var(--button-size);
	margin-top: auto;
	grid-row: -1;
}

#pencil:not([tool=freehand]) i.icon_draw-freehand,
#pencil:not([tool=line]) i.icon_draw-line,
#pencil:not([tool=arrow]) i.icon_draw-arrow,
#pencil:not([tool=rectangle]) i.icon_draw-rectangle,
#pencil:not([tool=circle]) i.icon_draw-circle,
#pencil:not([tool=ellipse]) i.icon_draw-ellipse {
	display: none;
}

.toolbar [group] {
	display: grid;
}
.toolbar [group] > div {
	display: grid;
	grid-gap: 6px;
	margin: 6px 0;

	overflow: hidden;
	transition: max-height ease-in 300ms,
				margin ease-in 200ms,
				opacity ease-in 400ms;
}
/* set in js?? */
.toolbar [group=selection] > div {
	max-height: 274px;
}
.toolbar [group=pencil] > div {
	max-height: 414px;
}

.toolbar:not([visible=selection]) [group=selection] > div,
.toolbar:not([visible=pencil]) [group=pencil] > div {
	margin: 0;
	max-height: 0;
	opacity: 0;
}
.toolbar:not([visible=selection]) [group=selection] > hr,
.toolbar:not([visible=pencil]) [group=pencil] > hr {
	display: none;
}

.status {
	width: var(--button-size);
	height: var(--button-size);

	font-size: 3em;
	line-height: var(--button-size);
	text-align: center;
	vertical-align: middle;

	margin: 6px;
	
	grid-row: 1;
	grid-column: 3;
	z-index: 1;
	pointer-events: none;
}
.status i {
	display: none;
}
.status i#connected {
	color: var(--positive-fg-colour);
}
.status i#loading {
	color: var(--loading-fg-colour);
	animation: rotate 2s linear infinite;
}
.status i#disconnected {
	color: var(--negative-fg-colour);
}
.status[state="connected"] i#connected,
.status[state="loading"] i#loading,
.status[state="disconnected"] i#disconnected {
	display: inline-block;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.whiteboard {
	overflow: hidden;
	contain: paint;
	grid-row: 1;
	grid-column: 2 / span 2;
}

.dialog-container {
	position: absolute;
	width: 100%;
	height: 100%;
	
	display: flex;

	pointer-events: none;
}

dialog:not([open]) {
	display: none;
}
dialog {
	display: grid;
	grid-gap: 6px;

	pointer-events: all;
	
	color: var(--fg-colour);
	background: var(--bg-colour);
	border: solid 1px var(--border-colour);
}
dialog.toolbar {
	margin-left: 0;
	padding: 6px;
	
	border-left: none;
	box-shadow: #333 0 0 4px;
}
dialog.toolbar button {
	margin: 0;
}

dialog#dialog-size {
	margin-top: 102px;
	
	border-radius: 0 4px 4px 0;
}
dialog#dialog-size button {
	height: var(--button-size);
	background: radial-gradient(circle, var(--fg-colour) calc(var(--size) / 2),
										var(--bg-colour) calc(var(--size) / 2 + 1px));
}

dialog#dialog-colour {
	grid-template-columns: auto 2fr auto;
	column-gap: 2px;

	margin-left: 0;
	margin-top: 178px;
	padding: 6px;

	border-left: none;
	border-radius: 0 4px 4px 0;
	box-shadow: #333 0 0 4px;
}
dialog#dialog-colour #colour-preview {
	grid-column: span 3;

	height: 80px;
	border-radius: 8px;
	
	background: var(--drawing-colour);
}
dialog#dialog-colour label {
	font-family: monospace;
	line-height: 22px;
}
dialog#dialog-colour input[type="text"] {
	grid-column: span 3;
	font-family: monospace;
}
dialog#dialog-colour #colour-palette {
	grid-column: span 3;

	display: grid;
	grid-gap: 6px;
	grid-template-columns: repeat(4, auto);
}
dialog#dialog-colour button {
	--button-size: 48px;
	height: var(--button-size);
	background: var(--colour);
}

dialog#dialog-clear {
	margin-top: 20px;
	padding: 10px 20px;

	grid-template-columns: 1fr 1fr;

	border-radius: 8px;
	box-shadow: #333 0 0 6px;
}
dialog#dialog-clear p {
	margin: 0;
	grid-column: 1 / 3;
}
dialog#dialog-clear button {
	width: revert;
	min-height: revert;
	border: revert;
	border-radius: revert;
	box-shadow: revert;
	
	font-size: 1.2em;
	font-weight: bold;
}
dialog#dialog-clear button#confirm-clear {
	color: var(--negative-fg-colour);
}

canvas {
	display: block;
	touch-action: none;
}
