/**
 * BASIC STYLE
 */

body {
	font-family: Ubuntu, sans-serif;
	text-align: center;
	margin: 0 !important;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
	color: lightgrey;
}

/**
 * WHITEBOARD
 */

:root {
	--button-size: 56px;
	--drawing-colour: #148;
	--drawing-size: 3px;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto 1fr auto;
}

.toolbar {
	display: flex;
	flex-flow: column;
	
	overflow-y: scroll;
	scrollbar-width: none;

	background: #eee;
	border-right: 2px solid #333;
}
.toolbar::-webkit-scrollbar {
    display: none;
}
.toolbar hr {
	margin: 0;
	margin-top: 6px;
	border: 1px dashed #aaa;
}
.toolbar:after {
	/* ugly hack to get padding at the bottom in FF
	 * works for other browsers but could be replaced with
	 * padding-bottom in at least chrome 
	 */
	content: "\00a0";
	line-height: 6px;
	font-size: 1px;
}

button {
	width: var(--button-size);
	min-height: var(--button-size);

	cursor: pointer;

	border: none;
	border-radius: 8px;
	box-shadow: #333 0 0 2px;
}
.toolbar button,
#dialog-select button {
	text-align: center;
	vertical-align: middle;
	
	color: #fff;

	flex: 0 0 auto;
	margin: 6px;
	margin-bottom: 0;
	padding: 0;
	overflow: hidden;

	background: #333;
}
.toolbar button i ,
#dialog-select button i {
	margin-top: 8px;
	font-size: 24px;
}
.toolbar button p ,
#dialog-select button p {
	margin: 8px 0;

	font-weight: 500;
}
.toolbar button[disabled],
.toolbar button[disabled]:hover {
	cursor: unset;
	
	background: #777;
}
.toolbar button:hover,
#dialog-select button:hover  {
	background: #555;
}
.toolbar button[active],
#dialog-select button[active]  {
	background: #fff;
	color: #000;
}
button[wip] i {
	background: repeating-linear-gradient(-35deg, orange 0px 3px, #333 3px 6px);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.toolbar button .filler {
	min-height: calc(var(--button-size) * 0.7);
	margin-bottom: -8px;
}

.toolbar button#size div {
	background: radial-gradient(circle, #ffff calc(var(--drawing-size) / 2),
										#3330 calc(var(--drawing-size) / 2 + 1px));
}

.toolbar button#colour {
	background: var(--drawing-colour);
}
.toolbar button#colour[bright] {
	color: #000;
}

.toolbar button#clear:hover i {
	color: #f24;
}

.status {
	width: var(--button-size);
	height: var(--button-size);

	font-size: 3em;
	line-height: var(--button-size);
	text-align: center;
	vertical-align: middle;

	margin: 6px;
	
	grid-row: 1;
	grid-column: 3;
	z-index: 1;
	pointer-events: none;
}
.status i {
	display: none;
}
.status i#connected {
	color: #2e5;
}
.status i#loading {
	color: #19e;
	animation: rotate 2s linear infinite;
}
.status i#disconnected {
	color: #f20;
}
.status[state="connected"] i#connected,
.status[state="loading"] i#loading,
.status[state="disconnected"] i#disconnected {
	display: inline-block;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.whiteboard {
	overflow: hidden;
	contain: paint;
	grid-row: 1;
	grid-column: 2 / span 2;
}

.dialog-container {
	position: absolute;
	width: 100%;
	height: 100%;
	
	display: flex;

	pointer-events: none;
}

dialog:not([open]) {
	display: none;
}
dialog {
	display: grid;
	grid-gap: 6px;

	pointer-events: all;
	
	background: white;
	border: solid 1px black;
}
dialog#dialog-select {
	margin-left: 0;
	margin-top: 0;
	padding: 6px;
	
	border-left: none;
	border-top: none;
	border-radius: 0 0 4px 0;
	box-shadow: #333 0 0 4px;
}
dialog#dialog-select button {
	margin: 0;
}

dialog#dialog-size {
	margin-left: 0;
	margin-top: 102px;
	padding: 6px;
	
	border-left: none;
	border-radius: 0 4px 4px 0;
	box-shadow: #333 0 0 4px;
}
dialog#dialog-size button {
	background: radial-gradient(circle, #fff calc(var(--size) / 2),
										#333 calc(var(--size) / 2 + 1px));
}
dialog#dialog-colour {
	grid-template-columns: auto 2fr auto;
	column-gap: 2px;

	margin-left: 0;
	margin-top: 178px;
	padding: 6px;

	border-left: none;
	border-radius: 0 4px 4px 0;
	box-shadow: #333 0 0 4px;
}
dialog#dialog-colour #colour-preview {
	grid-column: span 3;

	height: 80px;
	
	border-radius: 8px;
	box-shadow: #333 0 0 2px;
	
	background: var(--drawing-colour);
}
dialog#dialog-colour label {
	font-family: monospace;
	line-height: 22px;
}
dialog#dialog-colour input[type="text"] {
	grid-column: span 3;
	font-family: monospace;
}
dialog#dialog-colour #colour-palette {
	grid-column: span 3;

	display: grid;
	grid-gap: 6px;
	grid-template-columns: repeat(4, auto);
}
dialog#dialog-colour button {
	--button-size: 48px;
	background: var(--colour);
}
dialog#dialog-clear {
	margin-top: 20px;
	padding: 10px 20px;

	grid-template-columns: 1fr 1fr;

	border-radius: 8px;
	box-shadow: #333 0 0 6px;
}
dialog#dialog-clear p {
	margin: 0;
	grid-column: 1 / 3;
}
dialog#dialog-clear button {
	width: revert;
	min-height: revert;
	border: revert;
	border-radius: revert;
	box-shadow: revert;
	
	font-size: 1.2em;
	font-weight: bold;
}
dialog#dialog-clear button#confirm-clear {
	color: #d00;
}

canvas {
	display: block;
	touch-action: none;
}
